.vscode/
__pycache__/
.venv
.idea/

# MLflow
mlflow/models/
mlflow/mlartifacts/
mlruns/
mlartifacts/

*.db
*.sqlite

# SDV metadata
bone_marrow_metadata.json

# Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# LATEX files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.bbl
*.blg
*.bak
*.tmp
*.swp